<style>
  body{
    display: flex;
  }
</style>
<div class="custom-container">
  <form action="/login" method="POST">
    <img src="https://github.com/MendozaAndrei/Agile-Project/blob/front-end/views/auth/logo.png?raw=true" alt="login" class="login-image"></img>
    <h3 class="text-center">MemoMind</h3>
    
    

    <div class="form-group ">
    
      <label for="exampleInputEmail1"></label>
      <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" placeholder="Email Address">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1"></label>
      <input type="password" class="form-control" id="password" name="password" placeholder="Password">
    </div>
    <button data-mdb-button-init data-mdb-ripple-init class="btn btn-secondary btn-block fa-lg gradient-custom-2 mb-3" type="submit" >Log in</button>

    

    

  </form>
  <div class="text-center text-lg-start mt-4 pt-2">
    
  
  <form action="/register">
    <p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account? <a href="/register" class="register-link">Register</a></p>
</form>

</div>



  

</body>
</html>