<%- include ("../partials/navbar.ejs") %>

<form action="/notes/update/<%= note.id %>" method="POST" style="height:auto;">
    <input style="width:100%;font-size:x-large;border: none;" type="text" id="title" name="title" value="<%= note.title %>"><br>
    <textarea id="content" name="content" style="width: 100%; font-size: larger; border: none; overflow: hidden;height:100%;" oninput="this.style.height = ''; this.style.height = this.scrollHeight + 'px'"><%= note.content %></textarea><br>
    <input type="submit" value="Submit" style="font-size: larger;">
</form>



<script>
window.onload = function() {
    var textarea = document.getElementById('content');
    textarea.style.height = '';
    textarea.style.height = textarea.scrollHeight + 'px';
}
</script>