

 <%- include ("../partials/navbar.ejs") %>

<div class="container mt-4">
  <h2 class="mb-4">New Reminder</h2>
  <form action="/reminder" method="POST" class="reminder-form">
    <div class="form-group">
      <label for="titleInput"></label>
      <input type="text" class="form-control" id="titleInput" placeholder="Enter title" name="title" required>
    </div>
    <div class="form-group">
      <label for="descriptionInput"></label>
      <textarea class="form-control" id="descriptionInput" rows="3" placeholder="Enter description" name="description" required></textarea>
    </div>
    <div class="form-group">
      <label for="dateDueInput"></label>
      <input type="date" class="form-control" id="dateDueInput" name="dateDue" required>
    </div>
    <button type="submit" class="btn btn-secondary">Add</button>
  </form>
</div>



